<a href="https://colab.research.google.com/github/V-Nayak/DataScience_Assignments/blob/main/01_Assi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python program to Multiply all numbers in the list
What are the ways to find the length of a list
Python program to find the smallest and largest number in a list (Without min-max function)
Python Program to find the area of a circle
Take inputs from the user to make a list. Again take one input from the user and search it in the list and delete that element, if found. Iterate over a list using for loop.
You are given a list of integer elements. Make a new list that will store a square of elements of the previous list. (With and without list comprehension)
i. Input_list = [2,5,6,12]

ii. Output_list = [4,25,36,144]

## 1.What is a List?

list is data type which represents the heterogneous Mutable duplicate elements in [].Which can be accessed through Indexing and Sliceing.

In [11]:
list = []
print (list)
l =[1,"ab",'$$',1]
print (l)

[]
[1, 'ab', '$$', 1]

## 2.What is a Tuple?

tuple data type represents heterogenous,dulicable but immutable elements sepearated by comma in simple parenthesis.Which can be operated by indexing or slicing.

In [4]:
t = 1,2,2,"ab"
print(t)

(1, 2, 2, 'ab')

## 3.What is the difference between List and Tuple?

**Mutablity**- list is mutable while tuple is not.

**Brackets**- List is presented in Squre Brackets while tuple can be presented in simple parenthesis or without them.

In [17]:
list=[]
list.append("DS")
print(list)

['DS']

In [18]:
t=()
t.append(01)
print(t)

SyntaxError: ignored

## 4.Python Program to find the largest element in the list

In [62]:
list=[]
list .insert(0,input("Enter the first no:"))
list .insert(1,input("Enter the Second no:"))
list .insert(2,input("Enter the third no:"))
list .insert(3,input("Enter the fourth no:"))
list .insert(4,input("Enter the fift no:"))
print("\nGiven list is")
print(list)

print("\nlenght of the list is")
print(len(list))


max_list=max(list)
 
 #n=list[0]
 # for n in list:
 #     if i>n
 #    n=i


#max_no = reduce(lambda x, y: y if x < y else x,list)
#print(max_no)

print("\nLaregst no is:")
print(max_list)

Enter the first no:23
Enter the Second no:33
Enter the third no:55
Enter the fourth no:77
Enter the fift no:999

Given list is
['23', '33', '55', '77', '999']

lenght of the list is
5

Laregst no is:
999

## 5.Python program to interchange first and last elements in a list.

In [49]:
list=[]   ## program to take 5 no from user and exchange first and last.
#list=input("Enter the first no:")

list .insert(0,input("Enter the first no:"))
list .insert(1,input("Enter the Second no:"))
list .insert(2,input("Enter the third no:"))
list .insert(3,input("Enter the fourth no:"))
list .insert(4,input("Enter the fift no:"))
print(list)

  def swapPositions(list, list[0], list[4]):
     
    list[0], list[4] = list[4], list[0]
    return list
     
    pos1, pos2  = 1, 3
 
    
    print(swapPositions(List, pos1-2, pos2-1))
    print(list)

Enter the first no:1
Enter the Second no:2
Enter the third no:3
Enter the fourth no:4
Enter the fift no:5
['1', '2', '3', '4', '5']

## 6.Python program to Reverse a List

In [55]:
del list 
list=[] 
list .insert(0,input("Enter the first no:"))
list .insert(1,input("Enter the Second no:"))
list .insert(2,input("Enter the third no:"))
list .insert(3,input("Enter the fourth no:"))
list .insert(4,input("Enter the fifth no:"))
print(list)

print("\nList in Reverse Order:")
print(list[::-1])

Enter the first no:2
Enter the Second no:3
Enter the third no:4
Enter the fourth no:5
Enter the fift no:7
['2', '3', '4', '5', '7']

List in Reverse Order:
['7', '5', '4', '3', '2']

## 7.Python program to count occurrences of an element in a list

In [65]:
l=[]
l=input("Enter list:")
d={}
for x in l:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some list:1,2,3,4,5,1
1 = 2 Times
, = 5 Times
2 = 1 Times
3 = 1 Times
4 = 1 Times
5 = 1 Times

## 8.Python program to find the sum of elements in a list

In [69]:
del list
list=[]
list .insert(0,input("Enter the first no:"))
list .insert(1,input("Enter the Second no:"))
list .insert(2,input("Enter the third no:"))
list .insert(3,input("Enter the fourth no:"))
list .insert(4,input("Enter the fift no:"))
print("\nGiven list is")
print(list)

print("\nSum of the elements in list is:")

 
print( "Sum is",list)

Enter the first no:1
Enter the Second no:1
Enter the third no:1
Enter the fourth no:1
Enter the fift no:1

Given list is
['1', '1', '1', '1', '1']

Sum of the elements in list is:

TypeError: ignored